    .qatitlein {
	font-size: 16px;
	font-family: "微軟正黑體";
	color: #d59d45;
	text-decoration: none;
    }
    
    .qatitle a {
	font-size: 16px;
	font-family: "微軟正黑體";
	color: rgba(0,0,0,1);
	text-decoration: none;
    }
    
    .qatitle a:hover {
	color: #d59d45;
    }




    .menu a {
	color: #c9b28c;
	text-decoration: none;
	font-size: 16px;
	font-family: "微軟正黑體";
	height: 40px;
	display: block;
	padding-top: 20px;
	background-color: #0f2843;
	padding-left: 20px;
    }
    
    .menu a:hover {
	text-decoration: none;
	background-color: #1f4e81;
	color: #c9b28c;
    }
    
    .btncolor {
        background-color: ffffff;
    }
    
    ul.submenu {


    }
    
    ul.lastmenu {
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	background-color: #CCCCCC;
    }
    
    .menu .submenu {
	color: #333333;
	display: none;
    }
    
    .menu .lastmenu {
	color: #333333;
	display: none;
    }
    
    .menu ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-indent: 0px;
	list-style-type: none;
	
    }
    
    .submenu li {
	padding: 20px;
	list-style-type: none;
    }
    
    
    .arr {
        float: right;
        margin-right: 20px;
    }
    
    .menu .allbtn {
        margin: 0px;
        padding: 0px;
    }