/* Backgrounds 背景高度*/


.overmask{overflow: hidden; width:100%; height:350px}
.vrbtn a {color: #FFF;text-decoration: none;}
.vrbtn a:hover {color: #d5ac71}
.vrbtn {
	color: #FFF;
	padding: 10px;
	background-image: url(../img/menu/header.jpg);
	background-position: center top;
	height:20px;
}


.titlebar{
	margin-top: 120px;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 100;
}

.pic0 {
	background-image: url(../img/floor_plan/pic.jpg);
	background-position: center center;
}


.pagebtn2 {
	color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}






@media (max-width: 999px) {
/*VR房屋導覽按鈕*/	
ul.vrnoitem {
	width: 95%;
	padding: 0px;
	list-style-type: none;
	float: left;
	margin-left: 2.5%;
}
ul.vrnoitem li {
	display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul.vrnoitem li img{
	width: 100%;
}

/*VR房屋導覽按鈕*/	
ul.vritem {
	width: 95%;
	padding: 0px;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	float: left;
	margin-left:2.5%;
}
ul.vritem li {
	display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul.vritem li img{
	width: 100%;
}
	
	
	
	
	
.btnhover a{
	margin-bottom: 10px;
	display: block;
	padding: 2px;
	float: left;
}
.btnhover a:hover {
	 visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0.3s;
}
	
#leftmenu{
	position: absolute;
	background-image: url(../img/menu/footerm.jpg);
	margin-top: -300px;
	display: block;
	width: 100%;
}
#btnonoff {
	background-image: url(../img/floor_plan/btnshow.png);
	height: 159px;
	width: 49px;
	position: absolute;
	z-index: 1;
	margin-top: -280px;
}



.pagemenu{
	padding: 0px;
	position: absolute;
	width: 270px;
	height: 20px;
	list-style-type: none;
	margin-left: -270px;
	left: 100%;
}
.pagebtn {
	color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #f1f1f1;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}
.pagebtn:hover{
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(0,0,0,1);
}




/*房型描述內文字*/
.phtxt h1 {
	font-size: 16px;
	line-height: 1.5em;
	color: #d7af71;
	letter-spacing: 0.1em;
	float: left;
	width: 90%;
	text-align: left;
	margin-right: 5%;
	margin-left: 5%;
}
.phtxt h2 {
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	float: left;
	width: 90%;
	text-align: left;
	margin-right: 5%;
	margin-left: 5%;
	font-weight: normal;
}

.phtxt h3 a{
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #000000;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: right;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px; 
}
.phtxt h3 a:hover{
	color: rgba(0,0,0,1);
	text-decoration: none;
	background-color: #f1f1f1;
}

.divpic img{
	width: 80%;
	max-width: 900px;
	float: left;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 5px;
}
.divpic{
	background-color: #e5e5e5;
	padding-bottom: 50px;
	padding-top: 30px;
}


.mapleft {
	display: block;
	float: left;
	width: 100%;
	padding-left: 20px;
}
.mapright {
	display: block;
	float: left;
	width: 100%;
	padding-left: 20px;
}




}

@media (min-width: 1000px) {
	
.mapleft {
	display: block;
	float: left;
	width: 50%;
}
.mapright {
	display: block;
	float: right;
	width: 50%;
	text-align: right;
}

	
	
	
	
/*VR房屋導覽按鈕*/	
ul.vrnoitem {
	width:500px;
	padding: 0px;
	list-style-type: none;
	float: left;

	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(255,255,255,0.3);
}
ul.vrnoitem li {
	display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul.vrnoitem li img{
	width: 100%;
	max-width:460px
}	


/*VR房屋導覽按鈕*/	
ul.vritem {
	width: 500px;
	padding: 0px;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
ul.vritem li {
	display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul.vritem li img{
	width: 100%;
	max-width:460px
}	
	
	
	
	
	
	
#leftmenu{
	background-image: url(../img/menu/footerm.jpg);
	background-position: center center;
}

/*房型描述內文字*/
.phtxt h1 {
	font-size: 16px;
	line-height: 1.5em;
	color: #d7af71;
	letter-spacing: 0.1em;
	float: left;
	width: 10%;
}
.phtxt h2 {
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	float: left;
	width: 90%;
	text-align: left;
	font-weight: normal;
}

.phtxt h3 a{
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #000000;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: right;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;
	margin-bottom: 10px;
	margin-right: 10px;
}
.phtxt h3 a:hover{
	color: rgba(0,0,0,1);
	text-decoration: none;
	background-color: #f1f1f1;
}

.divpic img{
	max-width: 900px;
	float: left;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
}
.divpic{
	background-color: #e5e5e5;
	padding-bottom: 50px;
	padding-top: 30px;
	width: 900px;
}






.btnhover a{
	margin-bottom: 10px;
	display: block;
	padding: 2px;
	float: left;
}
.btnhover a:hover {
	 visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0.3s;
}
	
.pagemenu{
	padding: 0px;
	width: 300px;
	height: 20px;
	list-style-type: none;
	margin-top: -10px;
}
.pagebtn {
	color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #f1f1f1;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}
.pagebtn:hover{
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(0,0,0,1);
}


	
.map{ height:560px}
	
.pic0 {
	background-image: url(../img/floor_plan/pic.jpg);
	background-position: center center;
}
  
  
}
