/* Backgrounds 背景高度*/

.ptitle2{
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,.1);
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 18px;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ptitle3{
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,.1);
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}



.ptitle{
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	font-family: "微軟正黑體";
	font-size: 18px;
	width: 260px;
}

.ptitle4{
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	font-family: "微軟正黑體";
	font-size: 18px;
}


input[class="aaa"]{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	cursor: pointer;
	cursor: hand;
	font-size: 18px;
	border-top-style: solid;
	padding-right: 20px;
	padding-left: 20px;
	border-top-width: 1px;
	border-top-color: rgba(129,169,214,0.2);
	margin-bottom: 70px;
	margin-right: auto;
	margin-left: auto;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: "微軟正黑體";
	font-weight: bold;
	 }

input[class="aaa"]:hover {
	color: rgba(0,0,0,1);
	background-color: #81a9d6;
}




input[type="text"]{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #81a9d6;
	cursor: pointer;
	cursor: hand;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 18px;
	font-family: "微軟正黑體";
	width: 45%;
	 }


.overmask{overflow: hidden; width:100%; height:350px}
.contxt {
	color: rgba(255,255,255,1);
}

.vrbtn a {color: #FFF;text-decoration: none;}
.vrbtn a:hover {color: #d5ac71}
.vrbtn {
	color: #FFF;
	padding: 10px;
	background-image: url(../img/menu/header.jpg);
	background-position: center top;
	height:20px;
}


.titlebar{
	margin-top: 120px;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 100;
}

.pic0 {
	background-image: url(../img/floor_plan/pic0.png);
	background-position: center center;
}


.pagebtn2 {
	color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}






@media (max-width: 999px) {
	
	
	
	
.btnhover a{
	margin-bottom: 10px;
	display: block;
	padding: 2px;
	float: left;
}
.btnhover a:hover {
	 visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0.3s;
}
	
#leftmenu{
	position: absolute;
	background-image: url(../img/menu/footerm.jpg);
	margin-top: -500px;
	display: block;
	width: 100%;
}
#btnonoff {
	background-image: url(../img/floor_plan/btnshow.png);
	height: 159px;
	width: 49px;
	position: absolute;
	z-index: 1;
	margin-top: -500px;
}



.pagemenu{
	padding: 0px;
	position: absolute;
	width: 300px;
	height: 20px;
	list-style-type: none;
	right: 0px;
	margin-right: -40px;
}
.pagebtn {
	color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #f1f1f1;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}
.pagebtn:hover{
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(0,0,0,1);
}



.boxleft,.boxleft2,.boxleft3{
	float: left;
	width: 100%;
}
.boxright{
		float: right;
	width: 100%;}

#popmesg {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 1;
}


}

@media (min-width: 1000px) {
#popmesg {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 1;
}
.boxleft{
	float: left;
	width: 50%;
}
.boxleft2{
	float: left;
	width: 70%;
}
.boxleft3{
	float: left;
	width: 90%;
}


.boxright{
		float: right;
	width: 50%;}


.divpic img{
	max-width: 900px;
	float: left;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
}
.divpic{
	background-color: #e5e5e5;
	padding-bottom: 50px;
	padding-top: 30px;
	width: 900px;
}






.btnhover a{
	margin-bottom: 10px;
	display: block;
	padding: 2px;
	float: left;
}
.btnhover a:hover {
	 visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0.3s;
}
	
.pagemenu{
	padding: 0px;
	width: 300px;
	height: 20px;
	list-style-type: none;
	margin-top: -10px;
}
.pagebtn {
	color: rgba(0,0,0,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 16px;
	background-color: #f1f1f1;
	letter-spacing: 0.1em;
	display: inline-block;
	width: 80px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;

}
.pagebtn:hover{
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(0,0,0,1);
}


	
.map{ height:560px}
	
.pic0 {
	background-image: url(../img/floor_plan/pic0.png);
	background-position: center center;
}
  
  
}

#contactForm{
	width: 1200px;
}

.align-right{
	text-align: right;
}


.pright_tel{
	width: 150px;
}

@media(max-width: 767px) {
	.contable{
		width: 100%;
	}
	#contactForm{
		width: 100%;
		margin-left: 0px;
	}
	.ptitle{
		width: 165px;
	}
	.align-right{
		text-align: left;
	}
	.min480{
		width: 440px;
	}
	.hidden-xs{
		display: none;
	}
}