/* Backgrounds 背景高度*/


.overmask{overflow: hidden; width:100%; height:350px}
.titlebar{
	margin-top: 120px;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 100;
}


.bg-holder {
	width: 100%;
	height: 65%;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	overflow: hidden;
}
/*內容中間文字距離高度*/
.bg-holder .content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pic0 {
	background-image: url(../img/index/indexbg.jpg);
}
.pic1 {
	background-image: url(../img/index/photo01.jpg);
}
.pic2 {
	background-image: url(../img/index/photo02.jpg);
}
.pic3 {
	background-image: url(../img/index/photo03.jpg);
}
.pic4 {
	background-image: url(../img/index/photo04.jpg);
}
.pic5 {
	background-image: url(../img/index/photo05.jpg);
}
.pic6 {
	background-image: url(../img/index/photo06b.jpg);
}




.bg-holder2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}
/*內容中間文字距離高度*/
.bg-holder2 .content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 10%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}
@media (max-width: 999px) {
.map{ height:300px}}

@media (min-width: 1000px) {
.map{ height:560px}
	
  .pic0 {
	background-image: url(../img/index/indexbg.jpg);
	background-repeat: no-repeat;
  }
  
.pic1 {
	background-image: url(../img/index/photo01.jpg);
}

.pic2 {
	background-image: url(../img/index/photo02.jpg);
}
.pic3 {
	background-image: url(../img/index/photo03.jpg);
}
.pic4 {
	background-image: url(../img/index/photo04.jpg);
}
.pic5 {
	background-image: url(../img/index/photo05.jpg);
}
.pic6 {
	background-image: url(../img/index/photo06.jpg);
}
  
}


.content h2 {
  margin: 0 0 16px;
  font-size: 18px;
}


.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}


.blur2 {	
 visibility: visible;
 
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(0px); /* Chrome, Opera */
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);    
            filter: blur(0px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=0, MakeShadow=false); /* IE6~IE9 */

    transition: opacity 1s, visibility 1s;
	
}
