@charset "utf-8";
.copy12{
	font-family: "微軟正黑體";
	font-size: 12px;
	}



body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	font-family: Verdana, "微軟正黑體", 'LiHei Pro', "Heiti TC", STHeiti, sans-serif;
	font-weight: 500;
	background-color: rgba(0,0,0,1);
}
img {
	border: none;
}
#phoneMENU a{
	background-repeat: no-repeat;
	background-position: center center;
	padding: 5px;
	height: 26px;
	width: 33px;
	left: 20px;
	top: 20px;
	position: absolute;
	z-index: 1;
}
	
#phoneEN a{
	background-image: url(../img/menu/EN.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 20px;
}
#phoneEN a:hover{
 visibility: visible;
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0.3s;
	}



/*切換語系*/
#enbtn a{
	background-image: url(../img/menu/enbtn.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 75px;
	width: 53px;
	top: 0px;
	position: absolute;
	right: 0px;
	opacity: 0.5;
}

#enbtn a:hover{
visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}
/*主選單*/
ul.menuitem {
	padding: 0px;
	list-style-type: none;
	width: 100%;
	height: 102px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
ul.menuitem li {
	display: inline-block;
    *display:inline; /*IE7*/
    *zoom:1;
	margin: 0px;
	float: left;
	text-align: center;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
ul.menuitem li a {
	text-decoration: none;
	display: block;
}


/*彈出選單*/
ul.popmenu{
	width: 100%;
	background-color: #040e19;
	float: left;
	margin-top: 75px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
ul.popmenu li{
	display: block;
	margin: 0px;
	width: 100%;
	text-align: center;
}
ul.popmenu li a{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #73694f;
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 26px;
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-family: "微軟正黑體";
	}
ul.popmenu li a:hover{
	background-color: #dbbc84;
	color: rgba(0,0,0,1);
	}









/*字級*/
.font12 {
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.font14 {
	font-size: 14px;
	line-height: 1.8em;
	letter-spacing: 1px;
}
.font14 a{
	color: rgba(255,255,255,1);
	text-decoration: none;
}
.font14_1 a {
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 1px;
	color: rgba(0,0,0,1);
	text-decoration: none;
}
.font16 {
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.font18 {
	font-size: 18px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.font20 {
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.font22 {
	font-size: 22px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.font24 {
	font-size: 24px;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.boxline {
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(0,0,0,1);
	border-bottom-color: rgba(0,0,0,1);
	margin-top: 20px;
	margin-bottom: 20px;
}
/*文字顏色*/
.txtred {
	color: #eb5691 !important;
}
.txtred2 {
	color: #eb5691 !important;
	text-decoration: underline !important;
}
.txtgray {
	color: rgba(153,153,153,1) !important;
}
.txtgray2 {
	color: rgba(73,73,73,1) !important;
}
/*字距*/
.emh1_2 {
	line-height: 1.2em;
}
.emh1_5 {
	line-height: 1.5em;
}
.emh2 {
	line-height: 2em;
}
.emw1px {
	line-height: 1.2em;
	letter-spacing: 1px;
}
.emw5px {
	line-height: 1.2em;
	letter-spacing: 5px;
}



/*靠左靠右*/
.boxleft {
	float: left
}
.boxright {
	float: right
}
header {
	position: relative;
	z-index: 9999;
}

/*main內容範圍*/
.main {
	width: 100%;
	height:1000px;
	display: block;
	background-color:#000000;
	float: left;
}
.w_100 {
	max-width: 1050px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.w_100_1 {
	width: 100%;
	padding-top: 20px;
	float: left;
}

/*手機選單*/
#mbtn {
	background-image: url(../img/mbtn.png);
	height: 32px;
	width: 35px;
	float: right;
	position: absolute;
	background-size: 100%;
	z-index: 1;
	top: 20px;
	right: 30px;
	background-repeat: no-repeat;
}
/*按鈕效果*/
.btnbox a {
	font-size: 16px;
	text-align: center;
	border: 1px solid rgba(0,0,0,1);
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgba(0,0,0,1);
	text-decoration: none;
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	display: block;
}
.btnbox a:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,1);
}

















/*適應性設定***********************************************************************************************/




@media screen and (min-width: 1000px) {
.min_width_1000________________ {}


#logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
}


header{
	background-image: url(../img/menu/header.jpg);
	background-position: center top;
	height: 102px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.main{width: 100%;}

.kvw{ display:none1}
.kvh{ display:none}


#mbtn {
	display: none
}

/*主選單*/
ul.menu {
	list-style-type: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #d0d0d0;
	border-bottom-color: #d0d0d0;
	display: block;
	height: 60px;
	margin-top: 15px;
}
ul.menu li a {
	text-decoration: none;
	color: rgba(45,45,45,1);
	list-style-type: none;
	float: left;
	width: 18%;
	text-align: center;
	display: block;
	font-size: 15px;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
ul.menu li a:hover {
	visibility: visible;
	opacity: 0.5;
	transition: opacity 0.3s, visibility 0.3s;
}

/*footer*/
footer {
	background-color: #2d2d2d;
	float: left;
	width: 100%;
	display: block;
	color: rgba(255,255,255,1);
	background-image: url(../img/menu/footer.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-size:cover;
}



ul.srctech {
	padding: 0px;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	right: 20px;
	z-index: 1000;
	margin-top: -200px;
	top: 50%;
}
ul.srctech li {
}
ul.srctech li a {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	font-size: 0px;
	height: 10px;
	color: rgba(255,255,255,0);
	margin-bottom: 20px;
}
ul.srctech li a:hover {
	text-decoration: none;
	background-color: #d4a863;
}
.pghover {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	background-color: rgba(243,243,243,1);
	height: 10px;
	margin-bottom: 20px;
}
.pghover2 {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	background-color: #d4a863;
	height: 10px;
	margin-bottom: 20px;
}
}












/*適應性設定***********************************************************************************************/
 @media screen and (max-width: 999px) {
.max_width_999________________ {}

body{
	width: 480px;
}

ul.srctech {
	padding: 0px;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	right: 10px;
	z-index: 1000;
	margin-top: 0px;
	top: 50%;
	display: none;
}
ul.srctech li {
}
ul.srctech li a {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	font-size: 0px;
	height: 10px;
	color: rgba(255,255,255,0);
	margin-bottom: 20px;
}
ul.srctech li a:hover {
	text-decoration: none;
	background-color: #d4a863;
}
.pghover {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	background-color: rgba(243,243,243,0.5);
	height: 10px;
	margin-bottom: 20px;
}
.pghover2 {
	text-decoration: none;
	display: block;
	width: 10px;
	border-radius: 30px;
	background-color: #d4a863;
	height: 10px;
	margin-bottom: 20px;
}


#onoff{display:none}
header{
	background-image: url(../img/menu/header.jpg);
	background-position: center top;

	width: 100%;
	height:75px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
		animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;		
	
	
}
.main{
	width: 100%;
	float: left;
	padding-top: 75px;
}



.kvw{ display:none}
.kvh{ display:none1}


#logo {
	height: 60px;
	background-size: 50%;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
header {
 position: 
 z-index: 9999;
	background-color: rgba(255,255,255,1);
	position: fixed;
	padding-bottom: 0px;
}

#mbtn {
	display: none1;
	cursor: pointer;
	cursor: hand;
}

/*主選單*/
.menu {
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
}
ul.menu {
	list-style-type: none;
}
ul.menu li a {
 0text-decoration: none;
	list-style-type: none;
	font-size: 18px;
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
	padding: 20px;
	text-decoration: none;
	text-align: center;
	color: rgba(0,0,0,1);
	background-color: rgba(255,255,255,1);
	text-indent: -40px;
}
ul.menu li a:hover {
	opacity: 1;
	color: rgba(102,102,102,1);
}
/*footer*/
footer {
	background-color: #2d2d2d;
	float: left;
	width: 100%;
	display: block;
	color: rgba(255,255,255,1);
	background-image: url(../img/menu/footerm.jpg);
	background-position: center top;
	padding-top: 20px;
	background-size:cover;
	padding-bottom: 20px;
}


}
.closebtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(153,153,153,1);
	cursor: pointer; cursor: hand;
}

@media(max-width: 767px) {
	.img-re{
		width: 90%;
		height: auto;
	}
}